In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('CARD_HIST12345.csv')

In [4]:
df = df[['STAT_NCODE', 'NAME', 'TAXPAYER_NCODE', 'REGNUM_NCODE', 'UK']]

In [5]:
df_final = pd.DataFrame()

In [15]:
df_excel = pd.read_excel('46.71/2018.xlsx')
df_excel.columns = df_excel.iloc[2]
df_excel = df_excel.drop([0, 1, 2], axis=0)

a = ['2018, Себестоимость продаж, RUB', '2018, Коммерческие расходы, RUB', '2018, Управленческие расходы, RUB', '2018, Прибыль (убыток) от продажи, RUB', '2018, Проценты к уплате, RUB', '2018, Прочие расходы, RUB', '2018, Прибыль (убыток) до налогообложения , RUB', '2018, Платежи по текущим операциям, RUB', '2018, Платежи поставщикам и подрядчикам, RUB', '2018, Оплата труда, RUB', '2018, Оплата процентов по долговым обязательствам, RUB', '2018, Платежи по инвестиционным операциям, RUB', '2018, Приобретение внеоборотных активов, RUB', '2018, Приобретение акций (долей участия), RUB', '2018, Приобретение долговых ценных бумаг, предоставление займов, RUB', '2018, Платежи по процентам, RUB', '2018, Платежи по финансовым операциям, RUB', '2018, Выкуп акций (долей) у собственников, RUB', '2018, Выплата дивидендов, RUB', '2018, Погашение векселей, возврат кредитов и займов, RUB', '2018, Платежей всего, RUB', '2018, Расходы на целевые мероприятия, RUB', '2018, Расходы на содержание аппарата управления, RUB', '2018, Приобретение основных средств, инвентаря и иного имущества, RUB']
b = ['COST_OF_SALES_ATM', 'SELLING_EXPENSES_ATM', 'EXECUTIVE_EXPENSES_ATM', 'PROFIT_ON_SALE_ATM', 'INTEREST_DUE_ATM', 'OTHER_EXPENSES_ATM', 'PRETAX_PROFIT_ATM', 'CURRENT_PAYMENTS_ATM', 'SUPPLIERS_PAYMENTS_ATM', 'SALARIES_ATM', 'BOND_SERVICE_ATM', 'TRUST_CHARGES_ATM', 'PURCHASE_NONCURRENT_ASSETS_ATM', 'SHARE_ACQUISITION_ATM', 'ACQUISITION_DEBT_SECURITIES_ATM', 'INTEREST_PAYMENTS_ATM', 'FINANCIAL_TRANSACTION_PAYMENTS_ATM', 'STOCK_REDEMPTION_ATM', 'DIVIDEND_PAYMENTS_ATM', 'LOAN_REPAYMENTS_ATM', 'PAYMENTS_TOTAL_ATM', 'EVENT_COSTS_ATM', 'ADMINISTRATIVE_EXPENSES_ATM', 'FIXED_ASSET_ACQUISITION_ATM']
c = ['Наименование', 'Регистрационный номер', 'Код налогоплательщика', 'Код статистики']
d = ['NAME', 'REGNUM_NCODE', 'TAXPAYER_NCODE', 'STAT_NCODE']
# a += c
ac = a
ac += c
# b += d
df_excel = df_excel[ac]
dic = dict(zip(ac, b))
df_excel.rename(columns=dic, inplace=True)
df_excel['Регистрационный номер'] = df_excel['Регистрационный номер'].fillna('-1').astype(int)
df_excel['Код налогоплательщика'] = df_excel['Код налогоплательщика'].fillna('-1').astype(int)
df_excel['Код статистики'] = df_excel['Код статистики'].fillna('-1').astype(int)
df_excel[b] = df_excel[b].fillna('-1').astype(float)

df_excel = df_excel.merge(df, how='inner', left_on = ['Наименование', 'Регистрационный номер', 'Код налогоплательщика', 'Код статистики'], right_on = ['NAME', 'REGNUM_NCODE', 'TAXPAYER_NCODE', 'STAT_NCODE'])
df_excel.drop(['Наименование', 'NAME', 'Регистрационный номер', 'Код налогоплательщика', 'STAT_NCODE', 'NAME', 'TAXPAYER_NCODE', 'REGNUM_NCODE', 'Код статистики'], axis=1, inplace=True)
df_excel.rename(columns={'UK': 'CARD_UK'}, inplace=True)

df_excel['VALUE_DAY'] = '20181231' #CHECK
df_excel['AS_OF_DAY'] = '20191224 12:20:00'
df_excel['DELETED_FLAG'] = 'N'
df_excel['JOB_INSERT'] = -1
df_excel['JOB_UPDATE'] = -1

df_final = pd.concat([df_final, df_excel], ignore_index=True) # insert in the main csv

In [16]:
df_final

,COST_OF_SALES_ATM,SELLING_EXPENSES_ATM,EXECUTIVE_EXPENSES_ATM,PROFIT_ON_SALE_ATM,INTEREST_DUE_ATM,OTHER_EXPENSES_ATM,PRETAX_PROFIT_ATM,CURRENT_PAYMENTS_ATM,SUPPLIERS_PAYMENTS_ATM,SALARIES_ATM,...,PAYMENTS_TOTAL_ATM,EVENT_COSTS_ATM,ADMINISTRATIVE_EXPENSES_ATM,FIXED_ASSET_ACQUISITION_ATM,CARD_UK,VALUE_DAY,AS_OF_DAY,DELETED_FLAG,JOB_INSERT,JOB_UPDATE
0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1005019,20091231,20191224 12:20:00,N,-1,-1
1,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1005020,20091231,20191224 12:20:00,N,-1,-1
2,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1005021,20091231,20191224 12:20:00,N,-1,-1
3,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1005022,20091231,20191224 12:20:00,N,-1,-1
4,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1005023,20091231,20191224 12:20:00,N,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
57938,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1006540,20181231,20191224 12:20:00,N,-1,-1
57939,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1006541,20181231,20191224 12:20:00,N,-1,-1
57940,5641000.0,-1.0,-1.0,66000.0,13000.0,74000.0,18000.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1006542,20181231,20191224 12:20:00,N,-1,-1
57941,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1006543,20181231,20191224 12:20:00,N,-1,-1
57942,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,-1.0,...,-1.0,-1.0,-1.0,-1.0,1006544,20181231,20191224 12:20:00,N,-1,-1

In [17]:
dff = df_final
dff.index.names = ['UK']
# dff['CARD_UK'] = dff['CARD_UK'] + 1000000

In [18]:
dff.to_csv('EXPENSES_STAT.csv')